// Fonts
$serif: 'Arvo',
serif;
$sansserif: 'Lato',
sans-serif;

// Color pallete
// old green below
// $green: #8cc441;
$green: #81BC26;
$teal: #18a79d;
$gray: #3a3a3a;
$grayLight: #767676;
$darkblue: #303051;
$purple: #7f3bd1;
$pink: #da406d;


// Screen width vars::

// Small tablets and large smartphones (landscape view)
$screen-xs-max: 511px;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;

// Query Mixins::


// Extra Small devices
@mixin xs {
    @media (max-width: #{$screen-xs-max}) {
        @content;
    }
}

// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (max-width: #{$screen-md-max}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (max-width: #{$screen-lg-max}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (max-width: #{$screen-xl-max}) {
        @content;
    }
}

// Custom devices
@mixin rwd($screen) {
    @media (max-width: $screen+'px') {
        @content;
    }
}