@import "variables";

// about section

.about-page {
    .jumbotron {
        min-height: 400px;
    }
}

.doc-wrap {
    display: flex;
}

.jumbo-about {
    background-position: 0px -15px;
    background-size: cover;
    h1 {
        color: white;
        margin-top: -10px !important;
    }
}

.founder-img {
    height: 260px;
    width: auto;
    background-size: cover;
    background-color: black;
}

.picture-direction::after {
    content: "Right";
}

.jumbo-staff {
    margin-top: 50px;
    h1 {
        color: white;
        margin-top: -10px !important;
    }
}

@media screen and (max-width: 991.98px) { 
    .doc-wrap {
        flex-direction: column;
    }
    .content {
        margin-top: 25px !important;
    }
 }
 @media screen and (max-width: 767px) { 
    .picture-direction::after {
        content: "Below";
    }
 }