@import "variables";

// about section

.about-page {
    .jumbotron {
        min-height: 400px;
    }
}

.doc-wrap {
    display: flex;
}

.jumbo-about {
    background-position: center;
    // background-size: cover;
    h1 {
        color: white;
        margin-top: -10px !important;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }
}

.founder-img {
    height: 260px;
    width: auto;
    background-size: cover;
    background-color: black;
}

.picture-direction::after {
    content: "Right";
}

.jumbo-staff {
    margin-top: 50px;
    h1 {
        color: white;
        margin-top: -10px !important;
        white-space: nowrap;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.staff-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.staff-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    width: 100%;
    max-width: 20rem;
    overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
    margin: 1rem;
    padding: 0px !important;
    cursor: pointer;
        .img-wrap {
            background: #fff center center no-repeat;
            img {
                width: 20rem;
                height: 20rem; 
                object-fit: cover;
            }
        }
        .staff-placeholder {
            width: 20rem;
            height: 20rem; 
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-image: url('assets/images/greenwood.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            color: white;
            text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
        }
        .content-block {
            display: block;
            padding: 1em 0.5em;
            color: #515151;
            text-decoration: none;
            min-height: 15rem;
            width: 100%;
        }
    // &:hover {
    //     transform: translateY(-0.5rem) scale(1.0125);
    //     box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
    // }
}

.board-container {
    margin-top: 50px;
}

.financials-container {
    margin-top: 50px;
}
.financials-row {
    margin-top: 50px;
    .financials-item {
        height: 200px;
    }
}

.board-item {
    padding-top: 25px;
    .board-company {
        font-style: italic;
        opacity: 0.5;
    }
}

.horizontal-rule {
    border-top: 1px solid black;
    width: 90%;
    height: 2px;
}

.placeholder {
    opacity: 0;
}

@media screen and (max-width: 991.98px) { 
    .doc-wrap {
        flex-direction: column;
    }
    .content {
        margin-top: 25px !important;
    }
 }
 @media screen and (max-width: 767px) { 
    .picture-direction::after {
        content: "Below";
    }
 }


 