@import "variables";

// about section

.doc-wrap {
  display: flex;
}

.jumbo-about {
  background-position: center;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    color: white;
    margin-top: -100px !important;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  }
}

.founder-img {
  height: 260px;
  width: auto;
  background-size: cover;
}

.picture-direction::after {
  content: "Right";
}

.jumbo-staff {
  margin-top: 50px;
  background-position: center;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    color: white;
    margin-top: -10px !important;
    white-space: nowrap;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  }
}

.staff-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include sm {
    justify-content: center !important;
  }
}

.staff-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  width: 25%;
  min-width: 16rem;
  overflow: hidden;
  margin: 15px 0px;
  cursor: pointer;

  @include xl {
    min-width: 12rem;

    .title-staff {
      font-size: 1.2rem;
    }

    .title-board {
      font-size: 1.2rem;
    }
  }

  @include md {
    min-width: 16rem;
  }

  @include sm {
    min-width: 16rem;
  }

  .img-wrap {
    background-color: #fff center center no-repeat;
    box-shadow: none;
    border: 1px solid #dfdfdf;
    transition: all 0.25s ease-in-out;
    height: 16rem;
    width: 100%;

    @include xl {
      height: 12rem;
    }

    img {
      min-width: 100%;
      height: 16rem;
      width: 16rem;
      width: 100%;
      height: 100%;
      object-fit: cover !important;
      filter: grayscale(0.75);
      transition: all 0.25s ease-in-out;
    }
  }

  .staff-placeholder {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: $green;
    min-width: 100%;

    @include xl {
      min-width: 100%;
    }

    h4 {
      padding: 4px;
    }
  }

  .content-block {
    display: block;
    padding: 1em 0.5em;
    color: #515151;
    text-decoration: none;
    min-height: 8.5rem;
    width: 100%;
    justify-content: center;
    align-items: flex-start;

    @include xs {
      min-height: 5.5rem;
    }

    .title-container {
      text-align: center;

      .title-staff {
        color: $green !important;
      }

      .title-board {
        color: $teal !important;
      }

      .placeholder {
        display: none;
      }
    }
  }

  .staff-phone-block {
    display: flex;
    align-items: center;

    .phone-icon {
      padding-right: 13px;
      color: $teal;

      &:hover {
        color: $gray;
      }
    }
  }

  .staff-email-block {
    display: flex;
    align-items: center;

    .email-icon {
      padding-right: 13px;
      color: $teal;

      &:hover {
        color: $gray;
      }
    }
  }

  &:hover {
    text-decoration: none;

    .img-wrap {
      transition: all 0.25s ease-in-out;
      border: 1px solid rgba(0, 0, 0, 0.23);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);

      img {
        object-fit: cover !important;
        filter: grayscale(0);
      }
    }
  }
}

.title-board {
  color: $teal !important;
}

.board-container {
  margin-top: 50px;
}

.financials-container {
  margin-top: 50px;
}

.financials-row {
  margin-top: 50px;

  .financials-item {
    height: 200px;

    h6 {
      display: inline-flex;
      flex-direction: column;
    }
  }
}

.board-item {
  padding-top: 25px;

  .board-company {
    font-style: italic;
    opacity: 0.5;
  }
}

.vertical-rule {
  border-left: 1px solid #554a4e;
  padding-right: 11px;
  width: 90%;
  height: 26px;
  width: 2px;
}

.horizontal-rule {
  border-bottom: 4px solid $green;
  width: 100%;
  height: 10px;
}

.placeholder {
  opacity: 0;
}

.content-last-of {
  display: flex;

  .fab {
    font-size: 20px;
    transition: all 0.15s ease-in;
  }

  .linkedin {
    height: 26px;
    display: flex;
    align-items: center;
    padding-right: 11px;

    &:hover {
      color: #554a4e;

      .fab {
        font-size: 20px;
        color: #554a4e;
      }
    }
  }
}

.board-title-wrap {
  display: inline-flex;
}

.title-container {
  display: inline-flex;
  flex-direction: column;
}

#heart-animation {
  position: relative;
  height: 100%;
  right: 0;
  margin-left: -50px;
  margin-top: -52.5px;
  
}

@media screen and (max-width: 991.98px) {
  .doc-wrap {
    flex-direction: column;
  }

  .content {
    margin-top: 25px !important;
  }
}

@media screen and (max-width: 767px) {
  .picture-direction::after {
    content: "Below";
  }
}

#team-bio-title {
  color: $grayLight;

  span {
    // color: $teal;
    color: $green;
  }
}

.team-bio-position {
  font-size: 20px;
  color: $grayLight;
  font-weight: 300;

  span {
    font-style: italic;
  }
}

.fa-linkedin-in {
  font-size: 20px;
  color: #0079c1 !important;
  color: $teal;
  font-weight: bold;
  padding: 0px 30px 30px 0px;
}

.teammate-bio-intro {
  color: $green;
}

// .hws__card {

// }

.hws__draw-top {
  width: 100%;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0px !important;
  .lines {
    width: 800px;
    max-width: 800px;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .one {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      .hws__fill {
        background-color: black;
        height: 1px;
        border: 1px solid black;
      flex: 1;
      float: left;
      animation-name: draw;
      animation-duration: 0.5s;
      animation-delay: 0.4s;
      animation-fill-mode: forwards;
      }
    }
    .two {
      width: 50px;
      height: 50px;
    }
    .three {
      display: flex;
    justify-content: flex-end;
    align-items: center;
      width: 100%;
      .hws__fill {
        background-color: black;
        height: 1px;
        border: 1px solid black;
      flex: 1;
      float: right;
      animation-name: draw;
      animation-duration: 0.5s;
      animation-delay: 0.25s;
      animation-fill-mode: forwards;
      }
    }
  }
}

// @keyframes draw {
//   0% {
//     flex: 0;
//   }
//   100% {
//     flex: 1
//    }
// }

.breakdown-block {
  // flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 0px 0px;
  position: relative;
  opacity: 0;
  transform: translateX(-20px);
  animation-name: slide;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      &.b1 {
        animation-delay: 0.5s;
      }
      &.b2 {
        animation-delay: 1s;
      }
      &.b3 {
        animation-delay: 1.5s;
      }
  .inner {
    // padding: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    // background-color: red;
    padding-top: 37px;
    padding-bottom: 32px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    .graphic {
      height: 125px;
      width: 125px;
      // border: 1px solid $grayLight;
      margin-bottom: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .d-flex {
    justify-content: flex-start;
    align-items: center;
  }
  h2 {
    font-weight: bold;
    font-size: 64px;
    color: $green;
  }
  h3 {
    color: $gray;
    font-size: 24px;
  }

  p {
    text-transform: uppercase;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    width: 100%;
    justify-content: center;
    margin-bottom: 0px;
    color: $gray !important;
    text-align: center;
    span {
      height: 4px;
      background-color: $green;
      animation: growSpan 1s ease-in forwards;
      flex: 0 0 0px;
    }
  }
  .impact-num {
    color: $green;
  }

  .impact-counter {
    height: 75px;
  }

  .timerOne {
    &.animate {
      opacity: 0;
    animation-name: fadeIn;
      animation-duration: 0.5s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }
    
  }
  .timerTwo {
    &.animate {
      opacity: 0;
    animation-name: fadeIn;
      animation-duration: 0.5s;
      animation-delay: 1.5s;
      animation-fill-mode: forwards;
    }
    
  }
  .timerThree {
    &.animate {
      opacity: 0;
    animation-name: fadeIn;
      animation-duration: 0.5s;
      animation-delay: 2s;
      animation-fill-mode: forwards;
    }
    
  }

  .impact-accent {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    bottom: 10px !important;

    span {
      height: 4px;
      background-color: $green;
      flex: 0 0 0px;
    }

    .accentOne {
      animation: growAccentOne 1.7s ease-in forwards;
    }

    .accentTwo {
      animation: growAccentTwo 1.7s ease-in forwards;
    }

    .accentThree {
      animation: growAccentThree 1.7s ease-in forwards;
    }
  }
}

@keyframes growAccentOne {
  0% {
    flex: 0 0 0px;
  }

  100% {
    flex: 0 0 130px;
  }
}

@keyframes growAccentTwo {
  0% {
    flex: 0 0 0px;
  }

  100% {
    flex: 0 0 158px;
  }
}

@keyframes growAccentThree {
  0% {
    flex: 0 0 0px;
  }

  100% {
    flex: 0 0 150px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.here {
  background-color: #EDEDED;
  min-height: 200px;
  .col {
    margin: 0;
    padding: 0;
  }
}

.col-chart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  &.animateMe {
    display: flex;
  }
}
.chart-supporting {
  height: auto !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-height: 300px;
}
#right_arrow {
  transform: rotate(-90deg);
}

.circle {
  /* calculate using: (2 * PI * R) */
  stroke-dasharray: 681;
  stroke-dashoffset: 0;
  // animation-iteration-count: infinite;
  animation-name: rotate;
  animation-duration: 2s;
  animation-delay: 0.25s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
  animation-fill-mode: forwards;
}

@keyframes rotate {
  to {
    stroke-dashoffset: 612.9;
  }
}

.chart-content {
  position: absolute;
  height: 240px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 90;
  // transform: scale3d(0.5, 0.5, 0.5);
  // transform-origin: center;
  // opacity: 0;
  //   animation-name: scaleIn;
  //   animation-duration: 0.5s;
  //   animation-delay: 1s;
  //   animation-direction: alternate;
  //   animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  //   animation-fill-mode: forwards;
  a {
    // color: $green !important;
    margin-bottom: 0px;
    color: #363f44 !important;
    text-decoration: none;
    position: relative;
    display: block;
    font-size: 64px;
    font-weight: bold;
    transform: scale3d(0.5, 0.5, 0.5);
  transform-origin: center;
  opacity: 0;
    animation-name: scaleIn;
    animation-duration: 1s;
    animation-delay: 1.25s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
    animation-fill-mode: forwards; 
    span {
      color: #363f44 !important;
    }
  }
  // a:before {
  //   content: attr(data-hover);
  // }
  // a:after {
  //   content: attr(data-hover);
  //   position: absolute;
  //   color: #363f44;
  //   left: 0;
  //   width: 0;
  //   transition: width 1s;
  //   overflow: hidden;
  //   white-space: nowrap;
  //   animation-name: fillText;
  //   animation-duration: 1s;
  //   animation-delay: 1s;
  //   animation-direction: alternate;
  //   animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  //   animation-fill-mode: forwards;
  // }
  p {
    margin-bottom: 0px;
    opacity: 0;
    transform: translateY(16px);
      animation-name: fadeP;
      animation-duration: 0.75s;
      animation-delay: 0.75s;
      animation-direction: alternate;
      animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
      animation-fill-mode: forwards; 
  }
}

@keyframes fillText {
  to {
    width: 100%;
    opacity: 1;
  }
}
@keyframes fadeP {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scaleIn {
  0% {
    transform: scale3d(0.85, 0.85, 0.85);
    transform-origin: center;
    opacity: 0;
  }
  75% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    transform: scale3d(1, 1, 1);
    transform-origin: center;
    opacity: 1;
  }
}


