@import "variables";

.careers-intro {
  h3 {
    // color: $green !important;
    margin-top: 25px;
  }
}

.careers-available-title {
  //   border-bottom: 4px solid $green;
  display: inline-block;
}
.careers-container {
  margin-top: 40px;
  border-left: 4px solid $green;

  .fallback-header {
    border-bottom: 4px solid $green;
    padding-bottom: 20px;
  }
  .fall-back-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
