#location {
    background-image: url('assets/images/greenwood.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 40px 0;
    color: #ffffff;
}

.page-template-page-contact {
    #footer {
        margin-top: 0;
    }
}
