.furniture-page {
  .jumbotron {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    padding-top: 0;
    padding-bottom: 0;
    color: #ffffff;
    height: 50vh;
    margin-bottom: 0;

    .content {
      background: rgba(0, 0, 0, 0.4);
    }
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;

  }

  h1,
  h4 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.48);
  }

  .content-container {
    height: 50vh;
  }



  .inner-band {
    background: rgba(24, 167, 157, 0.8);
    padding: 30px;
    height: 50vh;
    text-align: center;
  }


  .news-item {
    margin: 40px 0;
    -webkit-box-shadow: 2px 1px 7px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 1px 7px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 1px 7px 0px rgba(0, 0, 0, 0.1);

    .block-content {
      padding: 30px;
    }

    .date {
      display: inline-block;
      vertical-align: middle;
      background: $green;
      color: #ffffff;
      padding: 5px 10px;
      margin-right: 5px;
    }

    .source {
      display: inline-block;
      vertical-align: middle;
      background: $green;
      color: #ffffff;
      padding: 5px 10px;
    }

    .continue {
      color: $green;
    }
  }
}