@import '_variables';

.donate-page {
  .jumbotron {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    padding-top: 0;
    padding-bottom: 0;
    color: #ffffff;
    height: 60vh;
    margin-bottom: 0;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;

  }

  h1,
  h4 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.48);
  }

  .content-container {
    height: 60vh;
  }

  .content {
    background: rgba(0, 0, 0, 0.4);

  }

  .inner-band {
    background: rgba(24, 167, 157, 0.8);
    padding: 30px;
    height: 60vh;
    text-align: center;
  }

  .sidebar-donate {
    .inner {
      background: #efefef;
      padding-left: 30px;
      padding-right: 30px;
      height: 100%;
    }
  }
}

.page-template-page-donate {
  #footer {
    margin: 0;
  }
}