@import '_variables';

#footer {
    // background: #fff;
        background: #fff;
                // background: #dae4e6;

    color: $gray;
    margin-top: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    
    h6,
    p,
    a {
        color: $gray;
    }
    #creds {
        img {
            max-width: 200px;
        }
    }
    #social-links {
        list-style-type: none;
        padding-left: 0px !important;
        color: $gray;

        li {
            display: inline-block;
            font-size: 3rem;
            padding: 10px 5px;
            line-height: 1;
        }
    }
}

.footer-contact-col {
    // display: none !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
