@import "variables";

// impact section

.jumbo-impact {
  background-size: cover;

  h1 {
    font-weight: bold;
    font-size: 4.5rem;
    color: white !important;
  }
}

.breakdown-block {
  flex: 1;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  position: relative;
  h2 {
    font-weight: bold;
    font-size: 50px;
  }

  p {
    text-transform: uppercase;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    width: 100%;
    margin-bottom: 0px;
    span {
      height: 4px;
      background-color: $green;
      animation: growSpan 1s ease-in forwards;
      flex: 0 0 0px;
    }
  }
  .impact-accent {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    bottom: 10px !important;
    span {
      height: 4px;
      background-color: $green;
      flex: 0 0 0px;
    }
    .accentOne {
      animation: growAccentOne 1.7s ease-in forwards;
    }
    .accentTwo {
      animation: growAccentTwo 1.7s ease-in forwards;
    }
    .accentThree {
      animation: growAccentThree 1.7s ease-in forwards;
    }
  }
}

@keyframes growAccentOne {
  0% {
    flex: 0 0 0px;
  }
  100% {
    flex: 0 0 130px;
  }
}
@keyframes growAccentTwo {
  0% {
    flex: 0 0 0px;
  }
  100% {
    flex: 0 0 158px;
  }
}
@keyframes growAccentThree {
  0% {
    flex: 0 0 0px;
  }
  100% {
    flex: 0 0 150px;
  }
}

.impact-get-involved {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.impact-duo {
  margin-top: 40px;

  .duo-icon-top {
    .impact-chart {
      position: relative;
      width: 300px;
      height: 300px;
      // border: 2px solid $teal;
      border-radius: 100%;

      // border: 6px solid $teal;
      // border-radius: 100%;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // background-image: linear-gradient(to right, transparent 50%, #655 0);
      .pie {
        background: #20504f;
        border-radius: 50%;
      }

      .pie circle {
        fill: none;
        stroke: #20504f;
        stroke-width: 32;
        animation: rotate 1.5s ease-in;
      }

      i {
        color: white;
        font-size: 20px;
        // background-color: $teal !important;
      }

      .chart-house {
        position: absolute;
        z-index: 200;

        &.chart-house-one {
          position: absolute;
          top: 50 !important;
          left: 20 !important;
        }

        &.chart-house-two {
        }

        &.chart-house-three {
        }

        &.chart-house-four {
        }

        &.chart-house-five {
        }

        &.chart-house-six {
        }
      }
    }
  }

  .duo-icon-bottom {
    border-left: 6px solid $green;
  }
}

.testimony-banner {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(assets/images/greenwood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #ffffff;
}

.stat-banner {
  margin-top: 80px;
  margin-bottom: 0px !important;
  padding: 100px 0px 100px 0px;
  background-image: url(assets/images/homebackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  color: #ffffff;
}

.stat-container {
  padding-top: 40px;
  padding-bottom: 40px;

  h1 {
    padding: 40px 0px 0px 0px;
  }

  .row {
    padding: 40px 0px 40px 0px;
  }

  .impact-one {
    .impact-graphic {
      display: flex;
      justify-content: center;

      .fa-couch {
        color: $green;
        font-size: 200px;
      }
    }
  }

  .impact-two {
    .impact-graphic {
      display: flex;
      justify-content: center;
      background-image: url(assets/images/impact-sweet-dreams.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .impact-three {
    .impact-graphic {
      display: flex;
      justify-content: center;

      .fa-hand-holding-heart {
        color: $green;
        font-size: 175px;
      }
    }
  }
}

.testimony-quote {
  font-style: italic;
  span {
    color: $green;
    font-size: 20px;
  }
}

.impact-plus {
  position: relative;
  animation: moveplus 0.15s ease-in forwards;
  animation-delay: 1.85s;
  opacity: 0;
  transform: translateX(-10px);
}
@keyframes moveplus {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.testimony-card {
  width: auto;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  border-radius: 25px;

  .testimony-card-top {
    padding-bottom: 80px;
    background-color: white;
    padding: 10px;
  }
  .testimony-card-bottom {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    background-color: $green;
    .testimony-avatar {
      position: absolute;
      top: -40px;
      height: 80px;
      width: 80px;
      border-radius: 100%;
      background-image: url(assets/images/testOne.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .testimony-name {
      margin-top: 60px;
      color: white;
    }
  }
}
