.image-leadspace {
    .jumbotron {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        h1 {
            color: #ffffff;
        }
    }
}
