.navbar.navbar-dark {
    &.bg-dark {
        background: $gray !important;
    }
    .navbar-brand {
        img {
            min-width: 200px;
        }
    }
    .navbar-nav {
        .nav-link {
            font-family: $serif;
            color: #ffffff;
            text-transform: uppercase;
            padding-left: 0.8rem;
            padding-right: 0.8rem;
        }
    }
    .menu-item-30 {
        &.ml-5 {
            a {
                color: $green;
                font-weight: bold;
            }
        }
    }
}
