@import "variables";

.navbar.navbar-light {
  &.bg-light {
    background-color: #ffffff !important;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  .navbar-brand {
    margin-bottom: 10px;
    margin-top: 10px;

    img {
      width: 350px;
    }
    &.brand-mobile {
      width: 45px;
    }
  }

  .navbar-nav {
    .nav-link {
      font-family: $sansserif;
      color: $green;
      text-transform: uppercase;
      padding-left: 0.8rem;
      border-bottom: 2px solid #fff;
      transition: all 0.25s ease-in-out;
      font-size: 0.8125rem;
    }
     
    

    .btn-green {
      vertical-align: bottom;
      padding: 0;
      margin-left: 10px;
      font-size: 1rem;

      a {
        color: #ffffff;
        font-weight: 400;

        &:hover,
        &:focus {
          color: $green;
        }
      }
    }
  }
}

.menu-item-object-page {
  border-bottom: 2px solid #fff;
  transition: all 0.25s ease-in-out;
  &:hover {
    border-bottom: 2px solid $green;
  }
}

.dropdown-item {
  position: relative;
}

.dropdown-item.active,
.dropdown-item:active {
  color: $gray;
  text-decoration: none;
  background-color: white;
  position: relative;

  &::after {
    content: '';
    height: 6px !important;
    width: 6px !important;
    border-radius: 1rem;
    background-color: white;
    color: rgba(0, 0, 0, .15);
    font-size: 1px;
    position: absolute;
    top: 14px;
    left: 12px;
    animation: activeFade .25s ease-in forwards;
  }

  @keyframes activeFade {
    0% {
      opacity: 0;
      background-color: white;
    }

    100% {
      opacity: 1;
      background-color: $green;
    }
  }
}

// Dropdown hover navigation styles :: Medium Devices, Desktops

@media only screen and (min-width : 992px) {
  .menu-item {
    cursor: pointer !important;
  }

  .dropdown-menu {
    margin: 0px !important;
    transition: all 0.15s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1, 0);
    // display: block;
    opacity: 0;
    border-radius: 0px 0px 5px 5px !important;
    border: 1px solid #EDEDED !important;
     border-top: 0.5px solid white !important;
    a {
      transition: all 0.15s;

      &:hover {
        color: $green !important;
      }
    }
  }

  .dropdown {
    .nav-link {
      transition: all 0.15s;
      position: relative;
      transform: translateY(0px);

      &:hover {
        display: block;
      }
    }

    &:hover {
      .nav-link {
        transform: translateY(2px);
      }
    }
  }

  .menu-item:hover>.dropdown-menu {
    display: block;
    max-height: 800px;
    transform: scale(1);
    opacity: 1;
    cursor: pointer !important;
    border: 1px solid #fff;
  }

  .submenu-item:hover>.dropdown-menu {
    display: block;
  }
}
@media only screen and (min-width : 992px) and (max-width: 1042px) {
  .navbar.navbar-light .navbar-nav .nav-link {
    padding-left: 0.35rem !important;
    // padding-right: 0.35rem !important;
  }
}

.navbar-toggler {
  // padding: 0px !important;
  background: none;
  border: none;

  &:active,
  &:focus {
    outline: 0;
  }

  .icon-bar {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 1px;
    margin: 6px 0 6px 0;
    transition: all 0.2s;
    background-color: $green;

    .navbar-dark & {
      background: #ffffff;
    }

    &:nth-of-type(1) {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }

    &:nth-of-type(2) {
      opacity: 0;
      filter: alpha(opacity=0);
    }

    &:nth-of-type(3) {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
  }

  &.collapsed {
    .icon-bar {
      background-color: $gray;

      &:nth-of-type(1) {
        transform: rotate(0);
      }

      &:nth-of-type(2) {
        opacity: 1;
        filter: alpha(opacity=100);
      }

      &:nth-of-type(3) {
        transform: rotate(0);
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .dropdown-menu {
    border: 1px solid white;
    border-bottom: 1px solid rgba(0, 0, 0, .15);

    .dropdown-item {
      position: relative;
    }
  }

}


.navbar {
  min-height: 65px !important;
  transform: translateY(0px) !important;
  transition: all .25s ease-in;
}

.navbar-brand-mobile {
  height: 59px;
  // width: 50px;
  position: absolute;
  left: 5px;
  bottom: 0px;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transform: translateX(-10px);
  animation-name: fadeBrand;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.14, 1, 1);
  animation-delay: 0.25s;
  border-bottom: 3px solid #fff;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  text-decoration: none !important;
  img {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    width: 34px !important;
    margin-left: 5px;
  }
  .brand-text {
    // padding-left: 10px;
    font-weight: bold;
    // font-size: 0.8125rem;
    span {
      color: #000 !important;
      font-weight: normal;
      margin-left: 5px;
    }
  }
  &:hover {
    border-bottom: 3px solid $green;
  }
}

@keyframes fadeBrand {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  } 50% {
    opacity: 1;
  } 100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.navbar-transform {
  transform: translateY(0px) !important;
  .navbar-brand-mobile {
      display: flex;
    }
}

  .navbar-brand {
    display: none;
  }



@keyframes animDrop {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}
  #menu-primary-navigation {
    position: absolute !important;
    z-index: 999;
    right: 0px !important;
    // bottom: 60px !important;
    min-width: 292px !important;
    width: auto;
    background-color: #fff;
    margin-left: 0px !important;
    padding-left: 0px !important;
    display: none;
    transform: translateX(100%);
      animation-name: navSlide;
      animation-duration: 0.15s;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.4, 0.14, 1, 1);
    &.show {
      display: block;
      top: 60px;
      li {
        opacity: 1;
        padding: 5px 5px 0px 5px;
      }
    }
}
.nav-cta-wrap {
  position: absolute;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 60px;
  bottom: 0px;
  right: 15px;
  z-index: 999 !important;
  .btn-primary {
    margin-right: 10px;
  }
}

@keyframes navSlide {
  0% {
    transform: translateX(100%)
  } 100% {
    transform: translateX(0%)
  }
}

@media (min-width: 1200px) {
  .navbar-transform {
    transform: translateY(-119px) !important;
    .navbar-brand-mobile {
      display: flex !important;
    }
  }

  .navbar-brand {
    display: block;
  }
  .navbar-brand-mobile {
    display: none;
  }
  #menu-primary-navigation {
    display: flex !important;
    justify-content: center;
    width: auto;
    align-items: center;
    position: relative !important;
    animation-name: none;
    transform: translateX(0%);
    top: 0px !important;
  }
}

/* GRID */


.one { width: 6.866%; }

/* COLUMNS */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-of-type {
  margin-left: 0;
}

.container{
  width: 100%;
  // max-width: 940px;
  margin: 0 auto;
  position: relative;
  // text-align: center;
  // !!!THIS RIGHT HERE!!!
}

/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* ALL */

.row .three{
  // padding: 80px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
}

.hamburger .line{
  width: 30px;
  height: 3px;
  // background-color: #ecf0f1;
  background-color: $green;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
  background-color: $grayLight;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
  background-color: $grayLight;
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-12px) rotate(-45deg);
  -ms-transform: translateY(-12px) rotate(-45deg);
  -o-transform: translateY(-12px) rotate(-45deg);
  transform: translateY(-12px) rotate(-45deg);
  background-color: $grayLight;
}

.dropdown-item {
  background-color: transparent !important
}

#notification-banner {
    width: 100%;
    min-height: 54px;
    // padding: 50px;
    background-color: $green;
    background: linear-gradient(to top, #47b25e, #6bbf4e);
    color: #fff;
    position: absolute;
    bottom: -54px;
    left: 0px;
    display: flex;    
    justify-content: center;
    align-items: center;
    .notification-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    span {
      width: 22px;
      height: 22px;
      border: 2px solid #fff;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a {
        font-family: $sansserif;
        font-weight: 300;
        background-color: #fff;
        padding: 7px 14px 7px 14px;
        margin-left: 18px;
        border-radius: 2px;
        border: 1px solid #fff;
        transition: all 0.15s ease-in-out;
        text-decoration: none;
        &:hover {
          background-color: inherit;
          color: #fff;
          // border: 1px solid $green;
        }
      }
    .close-banner {
      width: 22px;
      height: 100%;
      font-size: 12px !important;
      // border: 2px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 15px;
      cursor: pointer;
      &::after {
        content: '';
        width: 22px;
        height: 22px;
        // font-size: 22px !important;
        border: 2px solid #fff;
        position: absolute;
        border-radius: 100%;
      }

    }
    
}

@keyframes notify {
  0% {
    transform: translateY(-100%);
  } 100% {
    transform: translateY(0%);
  }
}