@import "variables";

.news-events {
    .news-item {
        margin: 40px 0;
        -webkit-box-shadow: 2px 1px 7px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 2px 1px 7px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 2px 1px 7px 0px rgba(0, 0, 0, 0.1);

        .block-content {
            padding: 30px;
        }

        .date {
            display: inline-block;
            vertical-align: middle;
            background: $green;
            color: #ffffff;
            padding: 5px 10px;
            margin-right: 5px;
        }

        .source {
            display: inline-block;
            vertical-align: middle;
            background: $green;
            color: #ffffff;
            padding: 5px 10px;
        }

        .continue {
            color: $green;
        }
    }

    &.news-only {
        .sidebar {
            padding-top: 60px;
        }
    }
}

.news-single-post {
    .date {
        display: inline-block;
        vertical-align: middle;
        background: $green;
        color: #ffffff;
        padding: 5px 10px;
        margin-right: 5px;
    }

    .source {
        display: inline-block;
        vertical-align: middle;
        background: $green;
        color: #ffffff;
        padding: 5px 10px;
    }
}
